<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node ecosensornet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Calibration</h1>
<p>
    <a href="/">back home</a>
</p>
<h2>Values</h2>

<form method="post" action="calibration.html">
    <p>
        <input type="submit" value="Submit">
        <input type="reset">
    </p>
    <h3>dendro</h3>
    <p>
        c0:
        <input type="number" id="dendro_coeff0" name="dendro_coeff0" step="any" value="{{dendro_coeff0}}">
        c1:
        <input type="number" id="dendro_coeff1" name="dendro_coeff1" step="any" value="{{dendro_coeff1}}">
        c2:
        <input type="number" id="dendro_coeff2" name="dendro_coeff2" step="any" value="{{dendro_coeff2}}">
    </p>
</form>

</body>
</html>
